*{
    margin:0;
}
body{
    display:flex;
    flex:1;
    background-repeat: no-repeat; 
    background-size: 100vw 100vh;
    background-image: url(imagens/temporada-10.jpeg);
    background-attachment: fixed;

}   
main{
   display:flex;
   align-items: center;
   backdrop-filter:blur(5px);
   background-size: 140vh;
   overflow-y: scroll;
   width:100vw;
   height:100vh;
   gap:8rem;

}
main div img{
    
    width:25vw;
    height:30vh;
    border-radius:2vh;
}
main div:nth-child(1){
    margin-top:50vh;
    margin-bottom: 10vh;
    display:flex;
    flex-direction:column;
    gap:8rem 8rem;
    margin-left:1vw;
    


}
main div:nth-child(2){
    margin-top:50vh;
    margin-bottom: 10vh;
    display:flex;
    flex-direction:column;
    gap:8rem 8rem;


}
main div:nth-child(3){
    margin-top:50vh;
    margin-bottom: 10vh;
    display:flex;
    flex-direction:column;
    gap:8rem 8rem;
}
